<h1>Log In</h1>
<form class="ui form">
    <div class="field">
        <label>Username / Email</label>
        <input type="text" name="identifier" placeholder="Username / Email">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
    </div>
    <button class="ui primary button" type="submit">Log In</button>
    <a href="register" class="ui right floated secondary button" type="submit">Register</a>
</form>
