<h1>Register</h1>
<form action="register_post" class="ui form">
    <div class="field">
        <label>Username</label>
        <input type="text" name="identifier" placeholder="Username" required>
    </div>
    <div class="field">
        <label>Email</label>
        <input type="text" name="email" placeholder="Email" required>
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" required>
    </div>
    <div class="field">
        <label>Verify Password</label>
        <input type="password" name="verify_password" placeholder="Verify Password" required>
    </div>
    <button class="ui primary button" type="submit">Register</button>
    <a href="login" class="ui right floated secondary button" type="submit">Back to Log In</a>
</form>
